<div>
  <.form let={f} for={@changeset} id="survey-search" phx-target={@myself} phx-submit="save">
    <%= label(f, :code, "Survey code") %> <%= text_input(f, :code) %> <%= submit("Join") %>
  </.form>
</div>
