<h1>Show Survey</h1>

<%= if @live_action in [:edit] do %>
  <.modal return_to={Routes.survey_show_path(@socket, :show, @survey)}>
    <.live_component
      module={TorstaiWeb.SurveyLive.FormComponent}
      id={@survey.id}
      title={@page_title}
      action={@live_action}
      survey={@survey}
      return_to={Routes.survey_show_path(@socket, :show, @survey)}
    />
  </.modal>
<% end %>

<%= if @live_action in [:question] do %>
  <.modal return_to={Routes.survey_show_path(@socket, :show, @survey)}>
    <.live_component
      module={TorstaiWeb.QuestionLive.FormComponent}
      id={@survey.id}
      question={%Torstai.Surveys.Question{}}
      title={@page_title}
      return_to={Routes.survey_show_path(@socket, :show, @survey)}
    />
  </.modal>
<% end %>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @survey.name %>
  </li>

  <li>
    <strong>Code:</strong>
    <%= @survey.code %>
  </li>

  <h2>Questions</h2>
  <.live_component module={TorstaiWeb.SurveyLive.Questions} id={@survey.id} />
</ul>

<span>
  <%= live_patch("Edit", to: Routes.survey_show_path(@socket, :edit, @survey), class: "button") %>
</span> |
<span><%= live_patch("Add Question",
  to: Routes.survey_show_path(@socket, :question, @survey),
  class: "button"
) %></span> |
<span><%= live_redirect("Back", to: Routes.survey_index_path(@socket, :index)) %></span>
